
header {
    display: flex;
    flex-direction: column;
  }
  
  ul {
    list-style-type: none;
  }
  li {
    float: left;
    width: 25%;
    text-align: center;
  }
  a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    box-shadow: 4px 2px 2px turquoise;
  }
  
  
  
  .section {
    background-color: #88c1d0;
    width: 200px;
    height: 200px;
    margin: 2%;
  }
  
  @media screen and (min-width: 1600px) {
    div {
      display: flex;
      justify-content: space-around;
    
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      width: 30%;
    }
  }
  
  @media screen and (max-width: 767px) {
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
   


    nav:not(:target) {
      display: none;
    }
  
  
    /*BUTTON BURGER*/
    * {
      box-sizing: border-box;
    }
  
    body {
      display: flex;
      flex-direction: column;
    }
    .menu_hamburger {
      display: none;
    }
  
    .menu_hamburger + label {
      position: relative;
      width: 96px;
      background-color: #7a5fff;
      height: 96px;
      cursor: pointer;
      display: inline-block;
    }
  
    .menu_hamburger + label span {
      position: absolute;
      top: 44px;
      left: 18px;
      right: 18px;
      height: 8px;
      background: hsl(0, 0%, 100%);
    }
  
    .menu_hamburger + label span:after,
    .menu_hamburger + label span:before {
      position: absolute;
      left: 0;
      width: 100%;
      height: 8px;
      background-color: hsl(0, 0%, 100%);
      content: "";
    }
  
    .menu_hamburger + label span:before {
      top: -20px;
    }
  
    .menu_hamburger + label span:after {
      bottom: -20px;
    }
  
    .menu_hamburger + label span:after,
    .menu_hamburger + label span:before {
      transition: 0.3s;
    }
  
    .menu_hamburger:checked + label {
      background-color: #7a5fff;
    }
  
    .menu_hamburger:checked ~ nav.admin {
      display: block;
    }
  
    .menu_hamburger:checked + label span {
      transition: 1s;
      transform: rotate(45deg);
    }
  
    .menu_hamburger:checked + label span:before {
      top: 0;
    }
  
    .menu_hamburger:checked + label span:after {
      bottom: 0;
      transform: rotate(-90deg);
      /*FIN BUTTON*/
    }
  }